.SideBarItem {
  font-weight: 500;
  line-height: 20px;
}

.SideBarContainer {
  position: fixed;
  width: 300px;
  top: 0;
  bottom: 0;
  border-radius: 0 20px 20px 0;
  overflow-y: scroll;
}

.SideBarContainer::-webkit-scrollbar {
  width: 0.5em;
}
.SideBarContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}
